body{background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs3SjqC0EWbqpDGVx8zIZupyHoKLFC5W6y3ac4a3EtfwsmMYOxUg");
    font-family: sans-serif;
}
.site{
    display : grid; 
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr; 
    grid-template-areas: ". header ." "mainl main mainr " ". footer .";
    /* grid-template-areas: "header" "main" "footer"; */
    grid-gap: 10px;
    justify-content: space-between;
}
.header{
    grid-area: header;
    margin: auto;
}
.player1{
    grid-area: mainl;
    margin:auto;
    
}
.board{
    display : flex;
    flex-wrap: wrap;
    background-color: green;
    grid-area: main;/*we are telling this board clas belongs to grid area: main*/
    margin: auto;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.player2{
    grid-area: mainr;
    margin: auto;
}
.cell{
display : flex;    
margin : 10px;
background-color:lightgreen;
height: 100px;
width: 100px;
font-size: 500%;
justify-content: center;
}
.footer{
    grid-area : footer;
    justify-content: center;
    text-align: center;
    margin:auto;
}
button{
    background-image: url("https://i7.pngguru.com/preview/995/723/750/game-icon-button-game-video-game-game-buttons-thumbnail.jpg");
    height :100px;
    width :100px;
}